@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --gren-gray-scale-900: #002603;
  --gren-gray-scale-800: #173b1a;
  --gren-gray-scale-700: #2b572e;
  --gren-gray-scale-600: #406b42;
  --gren-gray-scale-500: #618062;
  --gren-gray-scale-400: #7a997c;
  --gren-gray-scale-300: #96b297;
  --gren-gray-scale-200: #b4ccb4;
  --gren-gray-scale-100: #dae5da;
  --gren-gray-scale-50: #edf2ee;
  --gray-scale-gray-–-900: #1a1a1a;
  --gray-scale-gray-–-800: #333;
  --gray-scale-gray-–-700: #4d4d4d;
  --gray-scale-gray-–-600: #666;
  --gray-scale-gray-–-500: #808080;
  --gray-scale-gray-–-400: #999;
  --gray-scale-gray-–-300: #b3b3b3;
  --gray-scale-gray-–-200: #ccc;
  --gray-scale-gray-–-100: #e6e6e6;
  --gray-scale-gray-–-50: #f2f2f2;
  --gray-scale-white: #fff;
  --branding-success-bright: #84d187;
  --branding-success: #00b207;
  --branding-success-dark: #2c742f;
  --branding-warning: #ff8a00;
  --branding-error: #ea4b48;
  --font-family: 'Poppins', sans-serif;
  --second-family: 'Segoe Script', sans-serif;
  --third-family: 'Dancing Script', sans-serif;
}

/* ======= COMMON CSS START ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
span {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-family);
}

.lh-0 {
  line-height: 0;
}
.btn {
  background-color: var(--branding-success);
  padding: 16px 40px;
  display: inline-flex;
  font-weight: 600;
  font-size: 16px;
  color: var(--gray-scale-white);
  border-radius: 43px;
  border: 1px solid transparent;
  outline: none;
  align-items: center;
}
.btn:hover {
  background-color: var(--gray-scale-white);
  color: var(--branding-success);
  transition: 0.35s;
  border: 1px solid var(--branding-success);
  /* transform: translateX(-5px); */
}
.btn span {
  margin-left: 20px;
  /* color: var(--gray-scale-white); */
  fill: var(--gray-scale-white);
  transform: translateX(-10px);
  transition: 0.35s;
  /* visibility: hidden; */
}
.btn:hover span {
  transform: translateX(0);
  visibility: visible;
}

.leftArrow,
.rightArrow {
  width: 45px;
  height: 45px;
  border: 1px solid var(--gray-scale-gray-–-100);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: var(--gray-scale-gray-–-900);
  cursor: pointer;
  transition: 0.35s;
}
.leftArrow:hover,
.rightArrow:hover {
  background-color: var(--branding-success);
  color: var(--gray-scale-white);
}
.slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 60px;
  gap: 8px;
}
.slick-dots button {
  width: 8px;
  height: 8px;
  background-color: var(--gray-scale-gray-–-200);
  border: none;
  border-radius: 50px;
  color: transparent;
  transition: 0.3s ease-in;
}
.slick-dots .slick-active button {
  width: 16px;
  background-color: var(--branding-success);
}
.heading {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: var(--gren-gray-scale-900);
}
.fullStar {
  color: var(--branding-warning);
}
.halfStar {
  color: var(--gray-scale-gray-–-200);
}
/* ===== = COMMON CSS END ====== */
.cursor {
  position: fixed; /* Changed from absolute to fixed for better tracking */
  width: 10px;
  height: 10px;
  pointer-events: none; /* Allows clicks to pass through */
  z-index: 9999;
  transform: translate(-50%, -50%); /* Helps with centering */
}

.cursor::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--branding-success);
  border-radius: 50%;
  transform: scale(1);
  transition: transform 0.2s ease;
}
/* === Header Start === */
header .topHeader {
  box-shadow: 0 1px 0 0 #e5e5e5;
  background: var(--gray-scale-gray-–-800);
  padding: 12px 0;
}
header .topHeader * {
  color: var(--gray-scale-gray-–-300);
}
.topHeader .locationIcon {
  margin-right: 8px;
}
.topHeader p {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: var(--gray-scale-gray-–-300);
}
.topHeaderRight ul li {
  display: inline-block;
  margin: 0 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  color: var(--gray-scale-gray-–-300);
}
.topHeaderRight ul li a:hover {
  color: var(--branding-success);
}
.topHeaderRight ul li select {
  background-color: transparent;
  border: none;
  outline: none;
}
.middleHeader {
  padding: 24px 0;
}
.middleHeader .headerSearch .searchInput {
  width: 100%;
  max-width: 400px;
  position: relative;
}
.middleHeader .headerSearch form {
  max-width: 598px;
  margin: auto;
}
.middleHeader .headerSearch form input {
  width: 100%;
  display: block;
  height: 45px;
  padding: 12px 18px 12px 44px;
  border: 1px solid var(--gray-scale-gray-–-100);
  border-radius: 6px 0 0 6px;
  outline: none;
}
.middleHeader .headerSearch form button {
  height: 45px;
  width: 100%;
  max-width: 98px;
  border-radius: 0 6px 6px 0;
  background: var(--branding-success);
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: var(--gray-scale-white);
  border: none;
}
.headerSearch .searchInput .searchIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}
.middleHeader .quickLinks ul {
  gap: 16px;
}
.middleHeader .quickLinks ul a {
  color: var(--gray-scale-gray-–-900);
}
.middleHeader .quickLinks ul a:hover {
  color: var(--branding-success);
}
.middleHeader .quickLinks ul .divider {
  font-size: 30px;
  line-height: 0;
  margin-top: 16px;
  display: block;
  color: var(--gray-scale-gray-–-200);
  font-weight: 100;
}
.middleHeader .quickLinks .cartText p {
  font-weight: 400;
  font-size: 11px;
  line-height: 120%;
  color: var(--gray-scale-gray-–-700);
  margin-bottom: 7px;
}
.middleHeader .quickLinks .cartText span {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: var(--gray-scale-gray-–-900);
}
.middleHeader .cartIcon {
  position: relative;
}
.middleHeader .cartIcon .cardCounter {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  text-align: center;
  color: var(--gray-scale-white);
  border: 1px solid var(--gray-scale-white);
  border-radius: 16px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  background: var(--branding-success-dark);
  display: block;
  position: absolute;
  top: 0;
  right: -4px;
}
.bottomHeader {
  background: var(--gray-scale-gray-–-50);
}
.bottomHeader .contactNum {
  gap: 8px;
  justify-content: end;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-900);
}
/* Off canvas  */
.offcanvasLogo img {
  width: 130px;
}
.offcanvas-body .categorySubmenu li a {
  color: var(--gray-scale-gray-–-900);
  padding: 20px 0;
  display: flex;
  gap: 20px;
  font-size: 20px;
}
.offcanvas-body .categorySubmenu li {
  padding: 0 20px;
  transition: 0.35s;
}
.offcanvas-body .categorySubmenu li:hover {
  background-color: var(--gray-scale-gray-–-100);
}
.offcanvas-body .categorySubmenu li a img {
  width: 30px;
}
/* middleheader end */
.bottomHeader ul {
  gap: 32px;
}
.bottomHeader ul li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-500);
  transition: 0.35s;
}
.bottomHeader ul li:hover > a,
.bottomHeader ul li a.active {
  color: var(--branding-success);
}
.bottomHeader ul li .categoryMenu {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 24px;
  background: var(--branding-success);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-white);
}
.bottomHeader ul li:hover .categoryMenu {
  color: var(--gray-scale-white);
}
.bottomHeader ul li {
  position: relative;
}
.bottomHeader .categorySubmenu {
  position: absolute;
  background-color: #fff;
  border: 1px solid var(--gray-scale-gray-–-400);
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  transition: 0.35s cubic-bezier(0.19, 0.59, 0.41, 0.84);
  transform: scaleY(0);
  transform-origin: top;
}
.bottomHeader .categorySubmenu li:hover a {
  background-color: var(--gray-scale-gray-–-100);
}
.bottomHeader .categorySubmenu a {
  padding: 10px;
  display: flex;
  gap: 10px;
}
.bottomHeader .categorySubmenu a img {
  width: 25px;
}
.bottomHeader ul li .categoryMenu:hover ~ .categorySubmenu,
.bottomHeader .categorySubmenu:hover {
  transform: scaleY(1);
  transform-origin: top;
  transition: 0.35s cubic-bezier(0.19, 0.59, 0.41, 0.84);
  z-index: 9999;
}
/* === Header End === */
/* *Breadcrumbs Start Here */
#Breadcrumbs {
  background-image: url(../img/Breadcrumbs.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
}

#Breadcrumbs ul {
  display: flex;
  align-items: center;
}

#Breadcrumbs ul li {
  display: flex;
  align-items: center;
}

#Breadcrumbs ul li .homeIcom {
  line-height: 10px;
}

#Breadcrumbs ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-400);
  margin: 0 6px;
  transition: 0.3s;
}

#Breadcrumbs ul li .active,
#Breadcrumbs ul li a:hover,
#Breadcrumbs ul li a:focus {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--branding-success);
  line-height: 10px !important;
}

/* ==== Breadcrumbs End Here ==== */
/* ======/// Checkout Start Here ///====== */
.information {
  padding: 32px 0 80px 0;
  padding-right: 20px;
}
.informationForm {
  margin: 32px 0;
  border-bottom: 1px solid var(--gray-scale-gray-–-100);
  padding-bottom: 32px;
}
.information .informationHeader h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-900);
  margin-bottom: 20px;
}
.information .informationForm form {
  margin-bottom: 16px;
}
.information .informationForm form label {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-900);
}
.information .informationForm form input {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--gray-scale-gray-–-400);
  padding: 14px 24px;
  outline: none;
}
input[type='text']:focus {
  border: 1px solid var(--gray-scale-gray-–-300);
  box-shadow: none;
}
.country select {
  width: 100%;
  height: 49px;
  padding: 10px 42px 10px 16px;
  border: 1px solid var(--gray-scale-gray-–-100);
  border-radius: 6px;
}
.country select option {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--gray-scale-gray-–-400);
}
.information .informationForm .different input {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.information .informationForm .different input ~ .checkmark {
  background-color: #000000;
}
.information .informationForm .different label {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-700);
}
/* informatrion end */
.information .additionalInfo {
  margin: 32px 0 0 0;
}
.information .additionalInfo h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-900);
  margin-bottom: 20px;
}
.information .additionalInfo .textarea label {
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-900);
  margin-bottom: 8px;
}
.information .additionalInfo .textarea textarea {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--gray-scale-gray-–-400);
  padding: 14px 24px;
  outline: none;
  border: 1px solid var(--gray-scale-gray-–-100);
  height: 100px;
}

textarea:focus {
  border: 1px solid var(--gray-scale-gray-–-300);
  box-shadow: none;
}
/* Information End */

/* ======/// Order Summary Start Here ///====== */
.summery {
  margin-top: 32px;
  border: 1px solid var(--gray-scale-gray-–-100);
  border-radius: 8px;
  background: var(--gray-scale-white);
  padding: 24px;
  height: 50%;
}
.summery .cart-total h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-900);
  margin-bottom: 12px;
}
.summery .orderCart .orderImg img {
  width: 60px;
  height: 60px;
  margin-right: 8px;
}
.summery .orderCart > span {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-900);
}
.summery .orderCart .orderImg .ordertext {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-900);
}
.summery .cart-total .subtotal {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-700);
  display: flex;
  justify-content: space-between;
  padding: 12px 0px;
  border-bottom: 1px solid var(--gray-scale-gray-–-100);
}
.summery .cart-total .subtotal span {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-900);
}
.summery .cart-total .shipping {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-700);
  display: flex;
  justify-content: space-between;
  padding: 12px 0px;
  border-bottom: 1px solid var(--gray-scale-gray-–-100);
}
.summery .cart-total .shipping span {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-900);
}
.summery .cart-total .total {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-700);
  display: flex;
  justify-content: space-between;
  padding: 12px 0px;
}
.summery .cart-total .total span {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: var(--gray-scale-gray-–-900);
}
.paymentHeading {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-900);
  margin: 10px 0 30px 0;
}
.payment {
  margin: 10px 0;
}
.payment input {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  cursor: pointer;
}
.payment label {
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-700);
}
.summery .cart-total .btn {
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

/* ======/// Checkout End Here ///====== */

/* ---------- FOOTER START HERE ---------- */

.footer {
  background: var(--gray-scale-gray-–-900);
  color: white;
  padding: 50px 0 20px;
  font-family: Arial, sans-serif;
  background-image: url(../img/Footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.footer h5 {
  margin-bottom: 20px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: var(--gray-scale-white);
}

.footer p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gren-gray-scale-500);
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gren-gray-scale-400);
  text-decoration: none;
  transition: color 0.3s;
}

.footer ul li a:hover {
  color: white;
}

.contact-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.contact-info a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  border-bottom: 1px solid #00c853;
  padding-bottom: 2px;
  transition: color 0.3s;
}

.contact-info a:hover {
  color: #00c853;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: var(--gren-gray-scale-300);
  margin-right: 10px;
  transition: background-color 0.3s;
}

.social-icons a:hover {
  background-color: var(--branding-success);
  color: var(--gray-scale-white);
}

.instagram-feed {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.instagram-feed img {
  width: 100%;
  height: 70px;
  object-fit: cover;
  border-radius: 5px;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 20px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom .copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gren-gray-scale-500);
  /* display: block; */
}
.payment-methods img {
  height: 24px;
  margin-left: 5px;
}
/* ---------- Mobile Footer Start Here ---------- */
.subscribeArea {
  background: #f7f7f7;
  padding: 40px 0;
}
.subcribeArea::after {
  content: '';
  position: absolute;
  top: -50px;
  left: 0;
  border: 1px solid var(--gren-gray-scale-200);
  width: 100%;
  height: 0px;
  opacity: 0.7;
}
.subcribeArea .subcribeLogo img {
  width: 100%;
  max-width: 222px;
  margin: auto;
}
.subcribeArea .subcribeCnt h2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: var(--gren-gray-scale-900);
  margin-bottom: 4px;
}
.subcribeArea .subcribeCnt p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gren-gray-scale-400);
}

.subcribeBtn .searchInput {
  width: 100%;
  max-width: 535px;
  position: relative;
}
.subcribeBtn {
  position: relative;
}
.subcribeBtn form {
  max-width: 598px;
  margin: auto;
  align-items: end;
  display: flex;
  gap: 16px;
  justify-content: end;
}
.subcribeBtn form input {
  width: 100%;
  display: block;
  height: 45px;
  padding: 14px 24px;
  outline: none;
  border: 1px solid var(--gren-gray-scale-100);
  border-radius: 46px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gren-gray-scale-500);
}
.subcribeBtn form button {
  height: 45px;
  border-radius: 43px;
  background: var(--branding-success);
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: var(--gray-scale-white);
  border: none;
  padding: 16px 40px;
  position: absolute;
}

/* Mobile Footer */
.nav__menu {
  position: fixed;
  bottom: 0;
  left: 0;
  /* background-color: var(--gray-scale-white); */
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  display: grid;
  align-content: center;
  border-radius: 1.25rem 1.25rem 0 0;
  transition: 0.4s;
  box-shadow: 0 0 12px 0 rgba(57, 75, 57, 0.975);
  z-index: 9999;
  backdrop-filter: blur(5px) saturate(100%);
  background: rgba(255, 255, 255, 0.6);
}
.nav__list,
.nav__link {
  display: flex;
}
.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  font-weight: 600;
  color: var(--gray-scale-gray-–-600);
}
.active-link,
.nav__item .nav__link:hover,
.nav__item .nav__link:focus {
  color: var(--branding-success) !important;
  transition: 0.3s;
}
.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: 0.8rem;
}
.nav__icon {
  font-size: 1.5rem;
}
/* ---------- Mobile Footer End Here ----------  */

/* ---------- FOOTER END HERE ---------- */

/* ---------- filter start here ---------- */
#filter {
  width: 90%;
}
/* ---------- filter end here ---------- */
