@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --gren-gray-scale-900: #002603;
  --gren-gray-scale-800: #173b1a;
  --gren-gray-scale-700: #2b572e;
  --gren-gray-scale-600: #406b42;
  --gren-gray-scale-500: #618062;
  --gren-gray-scale-400: #7a997c;
  --gren-gray-scale-300: #96b297;
  --gren-gray-scale-200: #b4ccb4;
  --gren-gray-scale-100: #dae5da;
  --gren-gray-scale-50: #edf2ee;
  --gray-scale-gray-–-900: #1a1a1a;
  --gray-scale-gray-–-800: #333;
  --gray-scale-gray-–-700: #4d4d4d;
  --gray-scale-gray-–-600: #666;
  --gray-scale-gray-–-500: #808080;
  --gray-scale-gray-–-400: #999;
  --gray-scale-gray-–-300: #b3b3b3;
  --gray-scale-gray-–-200: #ccc;
  --gray-scale-gray-–-100: #e6e6e6;
  --gray-scale-gray-–-50: #f2f2f2;
  --gray-scale-white: #fff;
  --branding-success-bright: #84d187;
  --branding-success: #00b207;
  --branding-success-dark: #2c742f;
  --branding-warning: #ff8a00;
  --branding-error: #ea4b48;
  --font-family: 'Poppins', sans-serif;
  --second-family: 'Segoe Script', sans-serif;
  --third-family: 'Dancing Script', sans-serif;
}

/* ======= COMMON CSS START ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
span {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-family);
}

.lh-0 {
  line-height: 0;
}
.btn {
  background-color: var(--branding-success);
  padding: 16px 40px;
  display: inline-flex;
  font-weight: 600;
  font-size: 16px;
  color: var(--gray-scale-white);
  border-radius: 43px;
  border: 1px solid transparent;
  outline: none;
  align-items: center;
}
.btn:hover {
  background-color: var(--gray-scale-white);
  color: var(--branding-success);
  transition: 0.35s;
  border: 1px solid var(--branding-success);
  /* transform: translateX(-5px); */
}
.btn span {
  margin-left: 20px;
  /* color: var(--gray-scale-white); */
  fill: var(--gray-scale-white);
  transform: translateX(-10px);
  transition: 0.35s;
  /* visibility: hidden; */
}
.btn:hover span {
  transform: translateX(0);
  visibility: visible;
}

.leftArrow,
.rightArrow {
  width: 45px;
  height: 45px;
  border: 1px solid var(--gray-scale-gray-–-100);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: var(--gray-scale-gray-–-900);
  cursor: pointer;
  transition: 0.35s;
}
.leftArrow:hover,
.rightArrow:hover {
  background-color: var(--branding-success);
  color: var(--gray-scale-white);
}
.slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 60px;
  gap: 8px;
}
.slick-dots button {
  width: 8px;
  height: 8px;
  background-color: var(--gray-scale-gray-–-200);
  border: none;
  border-radius: 50px;
  color: transparent;
  transition: 0.3s ease-in;
}
.slick-dots .slick-active button {
  width: 16px;
  background-color: var(--branding-success);
}
.heading {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: var(--gren-gray-scale-900);
}
.fullStar {
  color: var(--branding-warning);
}
.halfStar {
  color: var(--gray-scale-gray-–-200);
}

/* === back to top === */

#button {
  display: inline-block;
  background-color: var(--branding-success);
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  font-size: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  color: var(--gray-scale-white);
  line-height: 0;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
/* ===== = COMMON CSS END ====== */

/* === Header Start === */
header .topHeader {
  box-shadow: 0 1px 0 0 #e5e5e5;
  background: var(--gray-scale-gray-–-800);
  padding: 12px 0;
}
header .topHeader * {
  color: var(--gray-scale-gray-–-300);
}
.topHeader .locationIcon {
  margin-right: 8px;
}
.topHeader p {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: var(--gray-scale-gray-–-300);
}
.topHeaderRight ul li {
  display: inline-block;
  margin: 0 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  color: var(--gray-scale-gray-–-300);
}
.topHeaderRight ul li a:hover {
  color: var(--branding-success);
}
.topHeaderRight ul li select {
  background-color: transparent;
  border: none;
  outline: none;
}
.middleHeader {
  padding: 24px 0;
}
.middleHeader .headerSearch .searchInput {
  width: 100%;
  max-width: 400px;
  position: relative;
}
.middleHeader .headerSearch form {
  max-width: 598px;
  margin: auto;
}
.middleHeader .headerSearch form input {
  width: 100%;
  display: block;
  height: 45px;
  padding: 12px 18px 12px 44px;
  border: 1px solid var(--gray-scale-gray-–-100);
  border-radius: 6px 0 0 6px;
  outline: none;
}
.middleHeader .headerSearch form button {
  height: 45px;
  width: 100%;
  max-width: 98px;
  border-radius: 0 6px 6px 0;
  background: var(--branding-success);
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: var(--gray-scale-white);
  border: none;
}
.headerSearch .searchInput .searchIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}
.middleHeader .quickLinks ul {
  gap: 16px;
}
.middleHeader .quickLinks ul a {
  color: var(--gray-scale-gray-–-900);
}
.middleHeader .quickLinks ul a:hover {
  color: var(--branding-success);
}
.middleHeader .quickLinks ul .divider {
  font-size: 30px;
  line-height: 0;
  margin-top: 16px;
  display: block;
  color: var(--gray-scale-gray-–-200);
  font-weight: 100;
}
.middleHeader .quickLinks .cartText p {
  font-weight: 400;
  font-size: 11px;
  line-height: 120%;
  color: var(--gray-scale-gray-–-700);
  margin-bottom: 7px;
}
.middleHeader .quickLinks .cartText span {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: var(--gray-scale-gray-–-900);
}
.middleHeader .cartIcon {
  position: relative;
}
.middleHeader .cartIcon .cardCounter {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  text-align: center;
  color: var(--gray-scale-white);
  border: 1px solid var(--gray-scale-white);
  border-radius: 16px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  background: var(--branding-success-dark);
  display: block;
  position: absolute;
  top: 0;
  right: -4px;
}
.bottomHeader {
  background: var(--gray-scale-gray-–-50);
}
.bottomHeader .contactNum {
  gap: 8px;
  justify-content: end;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-900);
}
/* Off canvas  */
.offcanvasLogo img {
  width: 130px;
}
.offcanvas-body .categorySubmenu li a {
  color: var(--gray-scale-gray-–-900);
  padding: 20px 0;
  display: flex;
  gap: 20px;
  font-size: 20px;
}
.offcanvas-body .categorySubmenu li {
  padding: 0 20px;
  transition: 0.35s;
}
.offcanvas-body .categorySubmenu li:hover {
  background-color: var(--gray-scale-gray-–-100);
}
.offcanvas-body .categorySubmenu li a img {
  width: 30px;
}
/* middleheader end */
.bottomHeader ul {
  gap: 32px;
}
.bottomHeader ul li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-500);
  transition: 0.35s;
}
.bottomHeader ul li:hover > a,
.bottomHeader ul li a.active {
  color: var(--branding-success);
}
.bottomHeader ul li .categoryMenu {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 24px;
  background: var(--branding-success);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-white);
}
.bottomHeader ul li:hover .categoryMenu {
  color: var(--gray-scale-white);
}
.bottomHeader ul li {
  position: relative;
}
.bottomHeader .categorySubmenu {
  position: absolute;
  background-color: #fff;
  border: 1px solid var(--gray-scale-gray-–-400);
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  transition: 0.35s cubic-bezier(0.19, 0.59, 0.41, 0.84);
  transform: scaleY(0);
  transform-origin: top;
}
.bottomHeader .categorySubmenu a {
  padding: 10px;
  display: flex;
  gap: 10px;
}
.bottomHeader .categorySubmenu a img {
  width: 25px;
}
.bottomHeader ul li .categoryMenu:hover ~ .categorySubmenu,
.bottomHeader .categorySubmenu:hover {
  transform: scaleY(1);
  transform-origin: top;
  transition: 0.35s cubic-bezier(0.19, 0.59, 0.41, 0.84);
  z-index: 9999;
}
/* === Header End === */
/* === Banner Start === */
#banner {
  background: url(../img/BG.png) no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  /* background-position: center; */
  position: relative;
  max-height: 687px;
}
#banner .slide {
  max-height: 687px;
  height: 687px;
}
#banner .slide .bannerImg {
  padding-right: 18px;
}
#banner .slide p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--branding-success);
}
#banner .slide h1 {
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  color: var(--gren-gray-scale-900);
  margin: 8px 0 20px 0;
}
#banner .slide h5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--gren-gray-scale-500);
  margin-bottom: 38px;
}
#banner .slide h5 span {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: var(--branding-success);
}
#banner .leftArrow,
#banner .rightArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#banner .leftArrow {
  left: 0;
}
#banner .rightArrow {
  right: 0;
}
/* === Banner End === */

/* === Our Facilitys Start === */
#ourFacilitys {
  margin: 35px 0 135px 0;
}
#ourFacilitys .ourFacilicysCard {
  border-radius: 8px;
  background: var(--gray-scale-white);
  cursor: pointer;
}
#ourFacilitys :nth-child(2n) {
  border-radius: 0 0 0 0 !important;
}
#ourFacilitys :nth-child(3n) {
  border-radius: 0 0 0 0 !important;
}
#ourFacilitys :nth-child(4n) {
  border-radius: 0 8px 8px 0 !important;
}
#ourFacilitys .shipping {
  padding: 40px;
  transition: 0.35s;
  border: 1px solid var(--gray-scale-gray-–-100);
  border-radius: 8px 0 0 8px;
}
#ourFacilitys .shipping:hover {
  color: var(--gray-scale-white);
  box-shadow: 0 16px 48px 0 rgba(14, 107, 21, 0.08);
  background: var(--branding-success);
  transition: 0.35s;
  /* border-radius: 8px; */
}
#ourFacilitys .shipping:hover h5 {
  color: var(--gray-scale-white);
  transition: 0.35s;
}
#ourFacilitys .shipping:hover p {
  color: var(--gray-scale-white);
  transition: 0.35s;
}
#ourFacilitys .shipping span {
  stroke-width: 1px;
  border: 1px solid var(--gray-scale-gray-–-100);
  background: var(--gray-scale-white);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--branding-success);
  fill: var(--branding-success);
}
#ourFacilitys .shipping h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-900);
  text-align: left;
  align-items: left;
  margin: 16px 0 8px 0;
  display: inline-flex;
}
#ourFacilitys .shipping p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-400);
}
/* === Our Facilitys Ends === */
/* === Featured Products Start  === */
#featuredProducts {
  padding: 0 0 200px 0;
}
/* #featuredProducts h2{} */
#featuredProducts .categoryList {
  gap: 48px;
  margin: 24px 0 50px 0;
}
.categoryList li a {
  position: relative;
  display: block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-500);
}
.categoryList li.active {
  padding: 0px 12px 8px 12px;
  box-shadow: 0 2px 0 0 #20b526;
  background: var(--gren-gray-scale-50);
  border-bottom: 1px solid var(--branding-success);
}
.categoryList li a::before {
  content: '';
  top: 50%;
  transform: translateY(-50%);
  right: -24px;
  position: absolute;
  width: 1px;
  height: 16px;
  background-color: var(--gren-gray-scale-200);
}
.productCard {
  border: 1px solid var(--gren-gray-scale-100);
  transition: 0.3s;
}
.productCard .thumbnail {
  position: relative;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}
.productCard .thumbnail img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.thumbnail:hover img {
  transform: scale(1.05);
}
.productCard .thumbnail .quickLinks {
  position: absolute;
  top: 16px;
  right: 16px;
  /* transform: translateX(150%); */
  transition: 0.5s;
}
.productCard .thumbnail .quickLinks li {
  transform: translateX(150%);
  opacity: 0;
  transition: all 0.3s ease;
}
.productCard .thumbnail:hover .quickLinks {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0s;
}

.thumbnail:hover .quickLinks li:nth-child(1) {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0.10s;
}

.thumbnail:hover .quickLinks li:nth-child(2) {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0.35s;
}

/* ////// */
.productCard .thumbnail .quickLinks a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gren-gray-scale-900);
  border: 1px solid var(--gray-scale-gray-–-50);
  margin-bottom: 6px;
  transition: 0.3s;
}
.productCard .content {
  padding: 12px;
  position: relative;
}
.productCard .content a {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gren-gray-scale-700);
  display: block;
}
.productCard .content strong {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--gren-gray-scale-900);
  display: block;
  margin: 2px 0 8px 0;
}
.productCard .content strong span {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-decoration: line-through;
  color: var(--gren-gray-scale-400);
}
.productCard .content > span {
  display: flex;
}
.productCard .content .addToCart {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--gray-scale-gray-–-50);
  line-height: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 0.35s;
}
.productCard:hover {
  border: 1px solid var(--branding-success-dark);
  box-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);
  background: var(--gray-scale-white);
}
.productCard:hover .thumbnail .quickLinks a:hover {
  background: var(--branding-success-dark);
  color: var(--gray-scale-white);
  border: 1px solid var(--branding-success-dark);
}
.productCard:hover .content a {
  color: var(--branding-success-dark);
}
.productCard .addToCart:hover {
  background: var(--branding-success-dark);
  color: var(--gray-scale-white) !important;
}
/* === Featured Products Start Ends === */
/* Featured Banner Starts */
.featuredBanner {
  margin: 0 0 100px 0;
}

/* Featured Banner Ends */
/* Best Deal Starts */
.bestDeal {
  background: var(--gren-gray-scale-50);
  padding: 100px 0;
  text-align: center;
  background-image: url(../img/Best\ Deal.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bestDeal p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: var(--branding-success);
}
.bestDeal h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: var(--gren-gray-scale-900);
  margin: 12px 0 24px 0;
}
.bestDeal .timer {
  margin: 24px 0 32px 0;
  display: flex;
  justify-content: center;
  gap: 22px;
}
.bestDeal .timer ul {
  display: flex;
}
.bestDeal .timer li {
  width: 96px;
  height: 96px;
  border-radius: 6px;
  padding: 20px 8px;
  background: var(--gray-scale-white);
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.bestDeal .timer li p {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--gren-gray-scale-500);
}
.bestDeal .timer li span {
  display: block;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: var(--branding-success);
}
.bestDeal .timer li::after {
  content: ':';
  position: absolute;
  top: 50%;
  right: -13px;
  transform: translateY(-50%);
  color: var(--gren-gray-scale-500);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
}
.bestDeal .timer li:last-child::after {
  display: none;
}
/* Best Deal Ends */
/* Featured Products Slider Starts */
.featuredProductsSlider {
  padding: 100px 0;
  position: relative;
}
.featuredProductsSlider h2 {
  margin-bottom: 50px;
}
.featuredProductsSlider .leftArrow,
.featuredProductsSlider .rightArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.featuredProductsSlider .leftArrow {
  left: 10%;
}
.featuredProductsSlider .rightArrow {
  right: 10%;
}
/* Featured Products Slider Ends */
/* Testimonials Starts */
.testimonial {
  background: var(--gren-gray-scale-50);
  padding: 100px 0;
  padding-bottom: 460px;
}
.testimonial h2 {
  margin-bottom: 43px;
}
.testimonialCard {
  text-align: center;
  padding: 0 12px;
}
.testimonialCard img {
  margin: auto;
}
.testimonialCard .content {
  padding: 32px;
  background: var(--gray-scale-white);
  border: 1px solid var(--gray-scale-gray-–-100);
  border-radius: 10px;
  position: relative;
  margin-bottom: 26px;
}
.testimonialCard .content::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 20px;
  height: 20px;
  background: var(--gray-scale-white);
}
.testimonialCard .content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--gren-gray-scale-600);
  margin-top: 24px;
}
.testimonialCard .thumbnail p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--gren-gray-scale-900);
  margin-top: 14px;
}
.testimonialCard .thumbnail span {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: var(--gren-gray-scale-500);
}
.testimonial {
  position: relative;
}
.testimonial .leftArrow,
.testimonial .rightArrow {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}
.testimonial .leftArrow {
  left: 10%;
}
.testimonial .rightArrow {
  right: 10%;
}
/* Testimonials Ends */
/* Video Starts */
.videoPlayer {
  position: relative;
  transform: translateY(-50%);
}
.videoPlayer .videoContentText {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.videoPlayer .videoContentText p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: var(--gray-scale-white);
}
.videoPlayer .videoContentText h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  color: var(--gray-scale-white);
  margin: 12px 0 32px 0;
}
.videoContent {
  position: relative;
}
.cursor {
  position: fixed; /* Changed from absolute to fixed for better tracking */
  width: 10px;
  height: 10px;
  pointer-events: none; /* Allows clicks to pass through */
  z-index: 9999;
  transform: translate(-50%, -50%); /* Helps with centering */
}

.cursor::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--branding-success);
  border-radius: 50%;
  transform: scale(1);
  transition: transform 0.2s ease;
}
/* Video Ends */
/* Latest News Starts */
.latestNewsSection {
  background: var(--gren-gray-scale-50);
}
.latestNewsSection > h2 {
  margin-bottom: 50px;
}
.latestNewsSection .atestNewsCnt {
  transform: translateY(-50%);
}
.latestNewsSection .latestNewsCard {
  background: var(--gray-scale-white);
  border-radius: 8px;
  padding: 24px;
}
.latestNewsSection .latestNewsCard h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--gren-gray-scale-900);
  margin: 24px 0 8px 0;
}
.latestNewsSection .latestNewsCard p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gren-gray-scale-500);
  margin-bottom: 20px;
}
.latestNewsSection .latestNewsCard a {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: var(--branding-success);
  align-items: center;
  display: inline-flex;
  justify-content: center;
}
.latestNewsSection .latestNewsCard a span {
  display: inline-flex;
  justify-content: center;
  padding-left: 12px;
}

/* Subcribe Area Starts */
.subcribeArea {
  transform: translateY(-50%);
  margin-top: -150px;
}
.subcribeArea::after {
  content: '';
  position: absolute;
  top: -50px;
  left: 0;
  border: 1px solid var(--gren-gray-scale-200);
  width: 100%;
  height: 0px;
  opacity: 0.7;
}
.subcribeArea .subcribeLogo img {
  width: 100%;
  max-width: 222px;
  margin: auto;
}
.subcribeArea .subcribeCnt h2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: var(--gren-gray-scale-900);
  margin-bottom: 4px;
}
.subcribeArea .subcribeCnt p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gren-gray-scale-400);
}

.subcribeBtn .searchInput {
  width: 100%;
  max-width: 535px;
  position: relative;
}
.subcribeBtn {
  position: relative;
}
.subcribeBtn form {
  max-width: 598px;
  margin: auto;
  align-items: end;
  display: flex;
  gap: 16px;
  justify-content: end;
}
.subcribeBtn form input {
  width: 100%;
  display: block;
  height: 45px;
  padding: 14px 24px;
  outline: none;
  border: 1px solid var(--gren-gray-scale-100);
  border-radius: 46px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gren-gray-scale-500);
}
.subcribeBtn form button {
  height: 45px;
  border-radius: 43px;
  background: var(--branding-success);
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: var(--gray-scale-white);
  border: none;
  padding: 16px 40px;
  position: absolute;
}
/* Latest News Ends */

/* ===== FOOTER AREA STARTS ===== */

.footer {
  background: var(--gren-gray-scale-900);
  color: white;
  padding: 50px 0 20px;
  font-family: Arial, sans-serif;
  background-image: url(../img/Footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.footer h5 {
  margin-bottom: 20px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: var(--gray-scale-white);
}

.footer p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gren-gray-scale-500);
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gren-gray-scale-400);
  text-decoration: none;
  transition: color 0.3s;
}

.footer ul li a:hover {
  color: white;
}

.contact-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.contact-info a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  border-bottom: 1px solid #00c853;
  padding-bottom: 2px;
  transition: color 0.3s;
}

.contact-info a:hover {
  color: #00c853;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: var(--gren-gray-scale-300);
  margin-right: 10px;
  transition: background-color 0.3s;
}

.social-icons a:hover {
  background-color: var(--branding-success);
  color: var(--gray-scale-white);
}

.instagram-feed {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.instagram-feed img {
  width: 100%;
  height: 70px;
  object-fit: cover;
  border-radius: 5px;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 20px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom .copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gren-gray-scale-500);
  /* display: block; */
}
.payment-methods img {
  height: 24px;
  margin-left: 5px;
}
/* footer */

.nav__menu {
  position: fixed;
  bottom: 0;
  left: 0;
  /* background-color: var(--gray-scale-white); */
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  display: grid;
  align-content: center;
  border-radius: 1.25rem 1.25rem 0 0;
  transition: 0.4s;
  box-shadow: 0 0 12px 0 rgba(57, 75, 57, 0.975);
  z-index: 9999;
  backdrop-filter: blur(5px) saturate(100%);
  /* background: rgba(255, 255, 255, 0.6); */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
}
.nav__list,
.nav__link {
  display: flex;
}
.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  font-weight: 600;
  color: var(--gray-scale-gray-–-600);
}
.active-link,
.nav__item .nav__link:hover,
.nav__item .nav__link:focus {
  color: var(--branding-success) !important;
  transition: 0.3s;
}
.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: 0.8rem;
}
.nav__icon {
  font-size: 1.5rem;
}
/* *Breadcrumbs Start Here */
#Breadcrumbs {
  background-image: url(../img/Breadcrumbs.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
}

#Breadcrumbs ul {
  display: flex;
  align-items: center;
}

#Breadcrumbs ul li {
  display: flex;
  align-items: center;
}

#Breadcrumbs ul li .homeIcom {
  line-height: 10px;
}

#Breadcrumbs ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-400);
  margin: 0 6px;
  transition: 0.3s;
}

#Breadcrumbs ul li .active,
#Breadcrumbs ul li a:hover,
#Breadcrumbs ul li a:focus {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--branding-success);
  line-height: 10px !important;
}

/* ==== Breadcrumbs End Here ==== */
/* ===== FOOTER AREA ENDS ===== */
/* ! ========= Index.html CSS Ends =======  */
#contact {
  padding: 80px 0 0 0;
}
#contact .contact-section {
  /* min-height: 100vh; */
  padding: 4rem 0;
}

#contact .info-card {
  border-radius: 0.5rem;
  padding:1rem 2rem;
  box-shadow: 0 0 56px 0 rgba(0, 38, 3, 0.08);
  background: var(--gray-scale-white);
}

#contact .info-item {
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--gray-scale-gray-–-200);
}

#contact .info-item:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
#contact .icon-circle i {
  color: var(--branding-success-dark);
  font-size: 50px;
}

#contact .info-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  text-align: center;
  color: var(--gray-scale-gray-–-800);
  margin-top: 10px;
}

#contact .info-subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  text-align: center;
  color: var(--gray-scale-gray-–-800);
  margin-top: 8px;
  margin-bottom: 40px;
}

#contact .contact-form {
  border-radius: 0.5rem;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 56px 0 rgba(0, 38, 3, 0.08);
background: var(--gray-scale-white);
}

#contact .form-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-900);
}

#contact .form-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-500);
  padding: 8px 0 24px 0;
}

#contact .form-control {
  border: 1px solid var(--gray-scale-gray-–-100);
  border-radius: 6px;
  padding: 14px 16px;
}

#contact .form-control:focus {
  border: 1px solid var(--branding-success);
  box-shadow: 0 0 0 0.2rem rgba(5, 150, 105, 0.25);
  outline: none;
}
#contact .map-container{
  width: 100%;
  height: 400px;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 80px;
}

/* ///  */

#contact .subscribeArea {
  margin-top: 200px;
}
#contact .subcribeArea::after {
  border: none;
}
#contact .subcribeArea .subcribeLogo img {
  width: 100%;
  max-width: 222px;
  margin: auto;
}
#contact .subcribeArea .subcribeCnt h2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: var(--gren-gray-scale-900);
  margin-bottom: 4px;
}
#contact .subcribeArea .subcribeCnt p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gren-gray-scale-400);
}

#contact .subcribeBtn .searchInput {
  width: 100%;
  max-width: 535px;
  position: relative;
}
#contact .subcribeBtn {
  position: relative;
}
#contact .subcribeBtn form {
  max-width: 598px;
  margin: auto;
  align-items: end;
  display: flex;
  gap: 16px;
  justify-content: end;
}
#contact .subcribeBtn form input {
  width: 100%;
  display: block;
  height: 45px;
  padding: 14px 24px;
  outline: none;
  border: 1px solid var(--gren-gray-scale-100);
  border-radius: 46px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gren-gray-scale-500);
}
#contact .subcribeBtn form button {
  height: 45px;
  border-radius: 43px;
  background: var(--branding-success);
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: var(--gray-scale-white);
  border: none;
  padding: 16px 40px;
  position: absolute;
}
@media (max-width: 768px) {
  #contact .contact-section {
      padding: 2rem 0;
  }
  #contact .info-card,
  .contact-form {
      margin-bottom: 2rem;
  }
}
/* ! ========= Contact.html CSS Ends =======  */
#About .aboutFristRow{
  padding: 80px 0;
}
#About .aboutFristRow .aboutLeft h1{
  font-family: var(--font-family);
font-weight: 600;
font-size: 56px;
line-height: 120%;
color: var(--gray-scale-gray-–-900);
}
#About .aboutFristRow .aboutLeft p{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-600);
  margin-top: 32px;
}
#About .organic-food-section{
  padding: 80px 0;
  background-image: url(../img/about/Image.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left;
}
#About .organic-food-section h1{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  color: var(--gren-gray-scale-900);
}
#About .organic-food-section p{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-500);
}
/* #About .organic-food-section .feature-card{
  border: 1px solid var(--gren-gray-scale-100);
} */
#About .organic-food-section .feature-card h5{
  font-family: var(--font-family);
font-weight: 500;
font-size: 18px;
line-height: 150%;
color: var(--gray-scale-gray-–-900);
}
#About .organic-food-section .feature-card p{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-500);
}
#About .organic-food-section .feature-card .icon-circle i{
  padding: 16px;
  background: rgba(0, 178, 7, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 38px;
  color: var(--branding-success);
}








/* ////// */
#About .subscribeArea {
  margin-top: 200px;
}
#About .subcribeArea::after {
  border: none;
}
#About .subcribeArea .subcribeLogo img {
  width: 100%;
  max-width: 222px;
  margin: auto;
}
#About .subcribeArea .subcribeCnt h2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: var(--gren-gray-scale-900);
  margin-bottom: 4px;
}
#About .subcribeArea .subcribeCnt p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gren-gray-scale-400);
}

#About .subcribeBtn .searchInput {
  width: 100%;
  max-width: 535px;
  position: relative;
}
#About .subcribeBtn {
  position: relative;
}
#About .subcribeBtn form {
  max-width: 598px;
  margin: auto;
  align-items: end;
  display: flex;
  gap: 16px;
  justify-content: end;
}
#About .subcribeBtn form input {
  width: 100%;
  display: block;
  height: 45px;
  padding: 14px 24px;
  outline: none;
  border: 1px solid var(--gren-gray-scale-100);
  border-radius: 46px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gren-gray-scale-500);
}
#About .subcribeBtn form button {
  height: 45px;
  border-radius: 43px;
  background: var(--branding-success);
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: var(--gray-scale-white);
  border: none;
  padding: 16px 40px;
  position: absolute;
}